.text-dark-blue {
  color: #2a4352;
}

.button-bg-dark-blue {
  background-color: hsl(215, 23%, 31%);
  &:hover {
    background-color: hsl(215.3 25% 26.7%);
  }
}

.button-background-destructive {
  background-color: transparent;
  color: black;
  &:hover {
    background-color: var(--color-red-500);
  }
}

.button-background-warning {
  background-color: transparent;
  color: black;
  &:hover {
    background-color: var(--color-yellow-300);
  }
}
